<% if microposts.any? %>
  <ul class="list-unstyled mt-2">
    <% likes.each do |like| %>
      <li class="d-flex">
        <div>
          <div>
            <p><%= like.content %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>