<% if lovings.any? %>
  <ul class="list-unstyled mt-2">
    <% lovings.each do |loving| %>
      <li class="d-flex">
        <%= image_tag @image_url,width: '15%', height: '50%' %>
        <%= @title %>
        <%= @author %>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>