<%= stylesheet_link_tag "all", :media => "all" %>
<% if logged_in? %>
<body>
  <%= render 'review1s/my_review1s', review1s: $current_user_review1s %>
</body>
<% else %>
<body>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Welcome to the myfavorites</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</body>
<% end %>
  